{% extends "layouts/base.html" %}

{% block title %} tableau de board {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Algorithme Génétique</h5>
                                </div>
                                <div class="card-body">
                                    <h5>1 : Importer votre données</h5>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {% comment %} <label for="exampleInputFile">Pick your data file</label> {% endcomment %}
                                                    <input name="docfile" type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp" />                                                    </div>        
                                                    <hr>
                                                        <h5>2 : choisir le poid de decision </h5>
                                                        
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="customRadioInline1" name="choice" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadioInline1">Economiste</label>
                                                            </tr><span>{<strong>maximisation</strong> : ACCESSIBILITE/ <strong>Minimisation</strong> : BRUIT}</span>
                                                        </div>
                                                        <div class="custom-control custom-radio ">
                                                            <input type="radio" id="customRadioInline2" name="choice" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadioInline2">Politicien</label>
                                                            </tr><span>{<strong>maximisation</strong> : ACCESSIBILITE/ <strong>Minimisation</strong> : BRUIT}</span>
                                                        </div>
                                                        <div class="custom-control custom-radio ">
                                                            <input type="radio" id="customRadioInline3" name="choice" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadioInline3">Representant de l'environement</label>
                                                            </tr><span>{<strong>maximisation</strong> : ACCESSIBILITE/ <strong>Minimisation</strong> : BRUIT}</span>
                                                        </div>
                                                        <div class="custom-control custom-radio ">
                                                            <input type="radio" id="customRadioInline4" name="choice" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadioInline4">Representant de publique</label>
                                                            </tr><span>{<strong>maximisation</strong> : ACCESSIBILITE/ <strong>Minimisation</strong> : BRUIT}</span>
                                                        </div>
                                                        <hr>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if solution %}
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>solution</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                            {% if id_zone|length > 1 %}
                                                les meilleures Zones Sont : <br>
                                                {% for idzone in id_zone %}
                                                    {{ idzone }}  <br> 
                                                {% endfor %}
                                            {% else %}
                                                la meilleure Zone est : {{ id_zone }} 
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
