{% extends "layouts/base.html" %}

{% block title %} tableau de board {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Algorithme Génétique</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                        <h5>1 : Les decideurs </h5>
                                                        {% if count %}
                                                            Nombre de decideurs qui remplisent deja leurs parametres subjectifs : {{ count }} <br>
                                                            {% for decideur in decideurs %}
                                                                    Nom : {{ decideur }} <br>   
                                                            {% endfor %}
                                                        {% else %}
                                                            aucun décideur ne remplit ses paramètres subjectifs
                                                        {% endif %}
                                                        
                                                        <hr>
                                                        <button type="submit" class="btn btn-primary">Obtenir les meilleures Zones</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for decideur in final_result %}
                            {% if solution %}
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>solution</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">    
                                                    {% if id_zone|length > 1 %}
                                                    
                                                        les meilleures Zones parraport au <strong>{{ decideur.0 }}</strong> sont: <br>
                                                        {% for idzone in decideur.1 %}
                                                            {{ idzone }}  <br> 
                                                        {% endfor %}
                                                    {% else %}
                                                        la meilleure Zone parraport au {{ decideur.0 }} est : {{ decideur.1 }} 
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
